node_modules/
.env
vercel/
.vscode/
*.log
npm-debug.log*
.DS_Store
android/app/build/
android/app/.gradle/
android/.gradle/
android/build/
android/local.properties
android/app/release/
android/app/debug/
*.apk
*.aab
dist/
